---
import "./About.scss";
import Button from "@components/Button/Button.astro";
import { Image } from "astro:assets";
import { ArrowUpRight } from "@lucide/astro";
import me from "../../assets/me.png";
import scribble from "../../assets/scribble.svg?raw";
import * as content from "@consts";
---

<section>
  <div class="inner about">
    <div class="stack stack--h gap--4xl">
      <div class="about__photo">
        <Image src={me} alt="that's me! hello 👋!" id="me" />
        <span class="svg--scribble" set:html={scribble} data-animate-scroll />
      </div>
      <div class="copy stack stack--v">
        <h2 class="display" data-animate-scroll style="--delay: 0">
          Hey. I'm Markus. <br /> Nice to meet you.
        </h2>
        <p data-animate-scroll style="--delay: 1">
          Born and raised in Hamburg, Germany. <br />
          I'm a builder, designer and tech enthusiast that believes he can also do
          some code.
          <br /><br />
          I fell in love with digital at 12, building my first websites in Dreamweaver
          and learning about css hacks on YouTube and Vimeo.
          <br /><br />
          That feeling of building things and showing it to the world stuck with me
          until today.
        </p>
        <div
          class="buttons stack stack--h gap--lg"
          data-animate-scroll
          style="--delay: 2"
        >
          <Button
            href="mailto:hey@markus.design"
            title={content.contact}
            size="large"
            variant="primary"
          />
          <Button
            href={content.linkedInURL}
            title={content.linkedin}
            size="large"
            variant="ghost"
            icon={ArrowUpRight}
          />
        </div>
      </div>
    </div>
  </div>
</section>
